#my-footer {
    height: 5em;
    background-color: green;
    margin-top: 1.5em;
    padding: 1em;
    font-size: 80%;
    color: #FFFFFF;
}

.toRed {
    color: red;
}

.room-image {
    max-width: 50%;
}
/* 
.swal2-container {
    z-index: 999 !important;
} */

.datepicker {
    z-index: 999999;
}