{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About page :)</h1>
                <p>take data from string map</p>
                <p>my hobby is {{index .StringMap "hobby"}}</p>
                <p>take data from struct</p>
                <p>my name is {{index .Data "satu" .Nama}}  </p>
            </div>
        </div> 
    </div>
{{end}}