{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home page</h1>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
                <p>this is the homepage</p>
            </div>
        </div>
    </div>
{{end}}